#navbar{
    height: 200px;
}
#navbar-container{
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
}
#navbar-items{
    flex-direction: column;
    text-align: center;
    width: 100%;
}
#navbar-items li:nth-child(2){
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

/*clients*/
#clients-container{
    grid-template-columns: repeat(2, 1fr);
}